h1 {
  color:red;
  text-align: centre;
}
td {
  text-align: centre;
}
.tieude {
  color: tomato;
  font-size: 15pt
  top-margin: 6pt
}
.nodung {
  color: black;
  font-size: 15pt
  top-margin: 6pt
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
   flex: 15%
 }
.menu{
  flex: 5%
}
.content{
  flex: 70%
}
.footer{
  flex: 10%
}
