h1 {
  color:red;
  text-align: centre;
}
td {
  text-align: centre;
}
.tieude {
  color: tomato;
  font-size: 15pt;
  top-margin: 6pt;
}
.nodung {
  color: black;
  font-size: 15pt;
  top-margin: 6pt;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
   flex: 15%;
 }
.menu{
  flex: 5%;
}
.content{
  flex: 70%;
  background-color: white;
}
.content iframe {
  flex:1;
  border: none;
  width: 100%;
  height: 100%;
}
.footer{
  flex: 10%
}
